<div class="footer-content container">
  <section>
    <b>Mega<span>Market</span></b>
    <p>Customer Supports:</p>
    <b>(629) 555-0129</b>
    <p>4517 Washington Ave.</p>
    <p>Manchester, Kentucky 39495</p>
    <b>info@kinbo.com</b>
  </section>
  <section>
    <b>Top Category</b>
    <a href="#">Computer & Laptop</a>
    <a href="#">SmartPhone</a>
    <a href="#">Headphone</a>
    <a href="#">Accessories</a>
    <a href="#">Camera & Photo</a>
    <a href="#">TV & Homes</a>
    <a href="#">Browse All Product</a>
  </section>
  <section>
    <b>Quick links</b>
    <a href="#">Shop Product</a>
    <a href="#">Shoping Cart</a>
    <a href="#">Wishlist</a>
    <a href="#">Refund Policy</a>
    <a href="#">Shipping Policy</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
  </section>
  <section>
    <b>Download APP</b>
    <img src="../assets/images/Mobile App.png" alt="" />
    <img src="../assets/images/appStore.png" alt="" />
  </section>
  <section>
    <b>Popular Tag</b>
    <div class="btns-tag">
      <a class="btn-link" href="#">Game</a>
      <a class="btn-link" href="#">iPhone</a>
      <a class="btn-link" href="#">TV</a>
      <a class="btn-link" href="#">Asus Laptops</a>
      <a class="btn-link" href="#">Macbook </a>
      <a class="btn-link" href="#">SSD</a>
      <a class="btn-link" href="#">Graphics Card </a>
      <a class="btn-link" href="#">Power Bank </a>
      <a class="btn-link" href="#">Smart TV</a>
      <a class="btn-link" href="#">Speaker</a>
      <a class="btn-link" href="#">Tablet</a>
      <a class="btn-link" href="#">Microwave</a>
      <a class="btn-link" href="#">Samsung</a>
    </div>
  </section>
</div>
