<nav class="navbar">
  <div class="up-sec">
    <p>Welcome to worldwide MegaMarket</p>
    <div class="right">
      <p>Deliver to 562109</p>
      <p>Track your order</p>
      <p>All Offers</p>
      <i id="close-m-welcome" class="fa-solid fa-rectangle-xmark"></i>
    </div>
  </div>
  <div class="content container">
    <i id="menu" class="fa-solid fa-bars"></i>
    <h1 id="logo">Mega<span>Market</span></h1>
    <img src="/assets/images/flash.png" alt="" />
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        type="text"
        name=""
        id="search-nav"
        placeholder="Search essentials, groceries and more..."
      />
    </div>
    <div class="main-box-search"></div>
    <div class="deals">
      <i class="fa-regular fa-handshake"></i>
      My Deals
    </div>
    <div class="sign">
      <i class="fa-regular fa-user"></i>
      <a href="../pages/signup.html">Sign Up</a>/ <a href="../pages/login.html">Login</a>
    </div>
    <a href="../pages/cart.html" class="cart">
      <span class="count" id="cart-count">0</span>
      <i class="fa-brands fa-opencart"></i>
      Cart
    </a>
    <a href="../pages/wishlist.html" class="hert">
      <span class="count" id="wishlist-Count">0</span>
      <i class="fa-regular fa-heart"></i>
    </a>
  </div>
  <div class="my-hr"></div>
  <div class="box-cat container">
    <i id="left-nav-btn" class="fa-solid fa-chevron-left"></i>
    <div class="cat"></div>
    <i id="right-nav-btn" class="fa-solid fa-chevron-right"></i>
  </div>
  <div class="my-hr"></div>
  <div class="slid-menu">
    <div class="menu-header">
      <h2>Mega <span>Market</span></h2>
      <span class="close-btn">&times;</span>
    </div>

    <div class="menu-search">
      <input
        type="text"
        placeholder="Search for products..."
        id="search-input"
      />
      <button id="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <div id="search-results" class="hidden"></div>

    <ul class="menu-links">
      <li>
        <a href="../index.html"><i class="fas fa-home"></i><span>Home</span></a>
      </li>
      <li>
        <a href="../pages/marketPlace.html"
          ><i class="fas fa-store"></i><span>Store</span></a
        >
      </li>
      <li>
        <a href="#"><i class="fas fa-tags"></i><span>Deals</span></a>
      </li>
      <li>
        <a href="../pages/wishlist.html"
          ><i class="fas fa-heart"></i><span>Wishlist</span>
          <p class="count-res" id="wishlist-count-res">0</p>
        </a>
      </li>
      <li>
        <a href="../pages/cart.html"
          ><i class="fas fa-shopping-cart"></i><span>Cart</span>
          <p class="count-res" id="cart-count-res">0</p>
        </a>
      </li>
    </ul>

    <div class="menu-auth">
      <a href="../pages/login.html" class="signin">Sign In</a>
      <a href="../pages/signup.html" class="signup">Sign Up</a>
    </div>

    <div class="menu-footer">
      <p>© 2025 Mega Market</p>
    </div>
  </div>
</nav>
